@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #17180f;
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.region-navbar {
    position: relative;
    width: 100%;
    padding: 30px;
    height: 150px;
}

.region-navbar .widget-navbar {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.259);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.region-navbar .widget-navbar ul {
    position: relative;
    display: flex;
    width: 100%;
}

.region-navbar .widget-navbar ul li {
    position: relative;
    justify-content: flex-start;
    margin: 0px 10px;
}

.region-navbar .widget-navbar ul li.justify-end {
    margin-left: auto;
}

.region-navbar .widget-navbar ul li {
    background-color: #17180f;
    border-radius: 10px;
    padding: 7px 13px;
}

.region-navbar .widget-navbar ul li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}


/* REGION MAPA RESTAURANTE */


/* CLASES GLOBALES */

.region-rest {
    position: relative;
    width: 100%;
    padding: 40px;
    height: calc(100vh - 150px);
}


/* FONDO DE LAS TABLAS */

.region-rest .widget-rest {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.259);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
    display: flex;
}


/* ESTRUCTURA TABLA */

.region-rest .widget-rest table {
    position: relative;
    width: 100%;
    padding: 30px;
}


/* CENTRAR EN LOS TD */

.region-rest .widget-rest .cont {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CLASES SALON */

.region-rest #salon tr,
.region-rest #salon td {
    position: relative;
    color: white;
    height: 11.1%;
    width: 7.14%;
}

.region-rest #salon .cont button {
    width: 100%;
    height: 43px;
    border-radius: 10px;
}

.region-rest #salon i {
    font-size: 25px;
}


/* CLASES TERRAZA */

.region-rest #terraza tr,
.region-rest #terraza td {
    position: relative;
    color: white;
    height: 11.10%;
    width: 9.09%;
}

.region-rest #terraza .cont button {
    width: 100%;
    height: 43px;
    border-radius: 10px;
}

.region-rest #terraza i {
    font-size: 25px;
}

.rotar180 {
    transform: rotate(180deg);
}

.rotar90 {
    transform: rotate(90deg);
}

.rotar270 {
    transform: rotate(270deg);
}


/* HAMBURGUESA STAR WARS */


/* #nav-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3em;
}

.toggle-icon {
    display: block;
    position: relative;
    width: 50%;
    margin: -2.2em auto 0 0.2em;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
}

.toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.2em;
    margin: 0.9em;
    border-right: 2.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
}

.toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
}

.toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}


.pushed .toggle-icon {
    margin: -3.2em 0 0 0.7em;
}

.pushed .bar:nth-of-type(1) {
    opacity: 0;
}

.pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    -moz-transform: rotate(-137deg) translateY(-1.5em);
    -ms-transform: rotate(-137deg) translateY(-1.5em);
    -o-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em);
}

.pushed .bar:nth-of-type(3) {
    margin-left: 0.5em;
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
}

.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
} */


/*Modal*/

.page-wrapper {
    width: 100%;
    height: 100%;
    background: url(https://goo.gl/OeVhun) center no-repeat;
    background-size: cover;
}

.blur-it {
    filter: blur(4px);
}

a.btn {
    width: 200px;
    padding: 18px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: #e2525c;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.849);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    height: 500px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -250px;
    opacity: 1;
}

.head {
    width: 90%;
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: #e2525c;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
}

.content {
    padding: 2% 10%;
}

.good-job {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #e2525c;
}

.good-job .fa-thumbs-o-up {
    font-size: 60px;
}

.good-job h1 {
    font-size: 45px;
}


/* INPUT */